@page
@model eSaysay.Areas.Identity.Pages.Account.AdminLoginModel
@{
    ViewData["Title"] = "Admin Login";
}

<div class="container admin-login-container d-flex justify-content-center align-items-center">
    <div class="row w-100">

        <div class="admin-login-content col-lg-6 col-md-8 mx-auto " style="font-family: var(--default-font);">
            <div class="text-center mb-4">
                <h2 class="fw-bold" style="color: var(--heading-color);">Admin Login</h2>
            </div>
            <form id="account" class="admin-login-forms" method="post" asp-route-returnUrl="@Url.Action("Index","Admin")">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" placeholder="name@example.com" required />
                    <label asp-for="Input.Email">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" type="password" class="form-control" placeholder="Password" required />
                    <label asp-for="Input.Password">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-admin-login" >Log in</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

}
