@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register Confirmation";
}

<div class="modal fade" id="registerConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="registerConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="registerConfirmationModalLabel">@ViewData["Title"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @if (Model.DisplayConfirmAccountLink)
                {
                    <p>
                        To complete your registration, please confirm your account by clicking the link below:
                    </p>
                    <p class="d-flex justify-content-center">
                        <a id="confirm-link" href="@Model.EmailConfirmationUrl" class="btn btn-register-confirm-acc">Confirm your account</a>
                    </p>
                }
                else
                {
                    <p>
                        A confirmation email has been sent to your email address. Please check your inbox and follow the instructions to confirm your account.
                    </p>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#registerConfirmationModal').modal('show');
        });
    </script>
}