@{
    ViewData["Title"] = "Listening Exercise";
}

<main class="main-content">

    <div class="header-listening">
        <button onclick="location.href='/'" class="close-button">
            <span class="material-symbols-rounded">
                close
            </span>
        </button>
        <div class="progress-bar">
            <div class="progress-bar-inner "></div>
        </div>
    </div>
    <div class="title">Learning Exercise</div>
    <div class="audio-container"><button>Play Audio</button></div>
</main>

