
/* ---------------------- main body ------------------- */
.complete-page {
    font-family: Poppins, sans-serif;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #FEF1E1;
}

.container.complete-exercise {
    margin-top: 30px;
}

/* ------------ header w close button --------------------- */

.header-complete {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: none;
    outline: none;
}

    .header-complete .close-button-complete {
        position: relative;
        display: flex;
        border: none;
        height: 35px;
        width: 35px;
        color: #000;
        background: none;
        align-items: center;
        justify-content: center;
        transition: 0.4s ease;
    }

.close-button-complete:hover {
    background-color: #DFB757;
    border-radius: 64px;
    transition: 0.4s ease;
}

/* ------------------------------ header w PROGRESS BAR ------------------------------------ */

.progress-bar {
    flex-grow: 1;
    height: 20px;
    background-color: #A75F37;
    border-radius: 36px;
    margin: 0 10px;
    overflow: hidden;
}

.progress-bar-inner {
    height: 100%;
    width: 40%;
    background-color: #DFB757;
    border-radius: 10px;
}

/* ------------------------- question or title -------------------------- */

.title-question {
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
}

.container .complete-content {
    display: inline-block;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 16px;
    border-radius: 36px;
    width: auto;
    height: auto;
    text-align: center;
}

.container .complete-content h6 {
    text-align: center;
    margin: 0;
}

/* ------------------------- answers -------------------------- */

.answer-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 20px;
}

    .answer-grid button {
        padding: 15px;
        font-size: 18px;
        border: none;
        border-radius: 5px;
        background-color: #007bff;
        color: white;
        cursor: pointer;
    }

        .answer-grid button:hover {
            background-color: #0056b3;
        }

/*------------FOOOTER OF LISTENING EXERCISE -------------------------------*/

.footer {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    background: none;
}

    .footer button {
        margin-left: 10px;
        padding: 10px 20px;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .footer .skip {
        background-color: #6c757d;
        color: white;
    }

    .footer .check {
        background-color: #28a745;
        color: white;
    }
