

.success-container .modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 400px;
    max-height: 400px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    z-index: 1000; /* Ensure it's above other elements */
}

    .success-container .modal-content {
       padding: 20px;
        border:none;
    }

.modal .close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}


    .success-container .btn-success-comp {
        padding: 10px 20px;
        background-color: #4CAF50;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        border: none;
        cursor: pointer;
    }

        .success-container .btn-success-comp:hover {
            background-color: #45a049;
        }
