@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_IndexLayout.cshtml";
    }
}
    @await Html.PartialAsync("_Sidebar")


<div class="main-content">
        @await Html.PartialAsync("_NavbarAuthenticated")
        <div class="account-title mt-3" style="color: #274052;">
            <h2>Account <span class="account-span-dashboard">settings</span></h2>
        </div>

        <div class="manage-account-page">

            <div>
                <div class="row">
                    <div class="col-md-3">
                        <partial name="_ManageNav" />
                    </div>
                    <div class="col-md-9 manage-account-content">
                        @RenderBody()
                    </div>
                </div>
            </div>

            @section Scripts {
                @RenderSection("Scripts", required: false)
            }

        </div>

</div>