@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}
<div class="change-password-page">
    <div class="change-password-title" style="color: #274052;">
        <h2>Change <span class="change-password-span-dashboard">password</span></h2>
    </div>
    <partial name="_StatusMessage" for="StatusMessage" />
    <div class="row">
        <div class="col-md-6">
            <form id="change-password-form" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.OldPassword" maxlength="64" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Please enter your old password." id="oldPassword" />
                    <label asp-for="Input.OldPassword" class="form-label"></label>
                    <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3 position-relative">
                    <input asp-for="Input.NewPassword" minLength="12" maxlength="64" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please enter your new password." id="newPassword" />
                    <label asp-for="Input.NewPassword" class="form-label"></label>
                    <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                    <button type="button" id="toggleNewPassword" class="btn btn-outline-secondary position-absolute end-0 top-50 translate-middle-y" style="border: none; background: none;">
                        <i class="bi bi-eye"></i>
                    </button>
                </div>
                <div class="form-floating mb-3 position-relative">
                    <input asp-for="Input.ConfirmPassword" minLength="12" maxlength="64" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your new password." id="confirmPassword" />
                    <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    <button type="button" id="toggleConfirmPassword" class="btn btn-outline-secondary position-absolute end-0 top-50 translate-middle-y" style="border: none; background: none;">
                        <i class="bi bi-eye"></i>
                    </button>
                </div>
                <button type="submit" class="w-100 btn btn-update-password">Update password</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        document.getElementById('toggleNewPassword').addEventListener('click', function () {
            const passwordInput = document.getElementById('newPassword');
            const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordInput.setAttribute('type', type);

            // Toggle eye icon
            this.querySelector('i').classList.toggle('bi-eye');
            this.querySelector('i').classList.toggle('bi-eye-slash');
        });

        document.getElementById('toggleConfirmPassword').addEventListener('click', function () {
            const passwordInput = document.getElementById('confirmPassword');
            const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordInput.setAttribute('type', type);

            // Toggle eye icon
            this.querySelector('i').classList.toggle('bi-eye');
            this.querySelector('i').classList.toggle('bi-eye-slash');
        });
    </script>
}