@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Delete Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
    </p>
    <p>
        Alternatively, you can choose to archive your account. An archived account can be reactivated by an administrator.
    </p>
</div>

<div>
    <form id="delete-user" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (Model.RequirePassword)
        {
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        }
        <div class="form-group">
            <div class="form-check">
                <input asp-for="ArchiveInsteadOfDelete" class="form-check-input" />
                <label asp-for="ArchiveInsteadOfDelete" class="form-check-label">
                    Archive my account instead of deleting it
                </label>
            </div>
        </div>
        <button class="btn btn-danger" type="submit">Confirm</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}