@{
    ViewData["Title"] = "Access Denied";
}

<div class="container text-center mt-5">
    <h1 class="display-4 text-warning">403 - Access Denied</h1>
    <p class="lead">You do not have permission to access this page.</p>

    <img src="/images/403-illustration.svg" alt="403 Error" class="img-fluid" width="400">

</div>
