@{
    ViewData["Title"] = "Server Error";
}

<div class="container text-center mt-5">
    <h1 class="display-4 text-danger">500 - Server Error</h1>
    <p class="lead">Something went wrong on our end. We’re working on it.</p>

    <img src="/images/500-illustration.svg" alt="500 Error" class="img-fluid" width="400">

</div>
