

<header id="header" class="header header-auth-nav d-flex align-items-center sticky-top">
    <div class="container-fluid nav-auth-container container-xl position-relative d-flex align-items-center">

      
            <h3 class="nav-auth-title">eSaysay</h3>
       

        <nav id="navmenu" class="navmenu nav-auth-navmenu">
            <ul>
                
                
                @if(User.Identity.IsAuthenticated){
                    <li class="nav-item user-role">
                        <p class="user-role nav-auth-role">@(User.IsInRole("Student") ? "Student" : "Admin")</p>
                    </li>
                    <li class="nav-item user-profile">
                        <img src="~/assets/img/default-profile.png" alt="Profile Picture" class="profile-picture rounded-circle nav-auth-pfp" />
                    </li>
                  
                    <li class="nav-item">
                        <a class="nav-link nav-auth-username" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity?.Name</a>
                    </li>
                
                } else {
                    
                    <li class="nav-item user-profile">
                        <img src="~/assets/img/default-profile.png" alt="Profile Picture" class="profile-picture nav-auth-pfp" />
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-auth-username" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Guest</a>
                    </li>
                }
                
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>
        
    </div>
</header>