<aside class="sidebar">
    <!--Sidebar header-->
    <header class="sidebar-header">
        <a href="#" class="header-logo">
            <img src="assets/img/eSaysay-logo.png" alt="eSaysay">
        </a>
        <button class="toggler sidebar-toggler">
            <span class="material-symbols-rounded">
                chevron_left
            </span>
        </button>
    </header>

    <nav class="sidebar-nav">
        <!--Primary top nav-->
        <ul class="nav-list primary-nav">
            <p id="sidebar-title">Your Journey</p>
            <li class="class-item">
                <a href="#" class="nav-link">
                    <span class="nav-icon material-symbols-rounded"> book_5 </span>
                    <span class="nav-label">Learn</span>
                </a>
            </li>
            <li class="class-item">
                <a href="#" class="nav-link">
                    <span class="nav-icon material-symbols-rounded"> book_ribbon </span>
                    <span class="nav-label">Practice</span>
                </a>
            </li>
            <p id="sidebar-title">Settings</p>
            <li class="class-item">
                <a href="#" class="nav-link">
                    <span class="nav-icon material-symbols-rounded"> account_circle </span>
                    <span class="nav-label">Profile</span>
                </a>
            </li>
        </ul>
        <!--Secondary bottom nav-->
        <ul class="nav-list secondary-nav">
            <li class="class-item">
                <a href="#" class="nav-link">
                    <span class="nav-icon material-symbols-rounded"> logout </span>
                    <span class="nav-label">Logout</span>
                </a>
            </li>
        </ul>
    </nav>
</aside>