@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background: #d3b16c;
}

.main-content {
    margin-left: 220px;
    padding: 90px 20px 20px 20px;
    transition: margin-left 0.4s ease;
}

.sidebar.collapsed ~ .main-content {
    margin-left: 115px;
}

.lesson-section {
    margin-bottom: 40px;
}

.carousel {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding: 10px;
    background: #f9f9f9;
    border-radius: 16px;
}

.lessons-title {
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
}

.lesson-cards {
    display: flex;
    gap: 20px;
    transition: transform 0.4s ease;
    padding: 10px 50px;
}

.lesson-card {
    flex: 0 0 250px;
    padding: 35px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
}

.carousel-control {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

    .carousel-control.prev {
        left: 10px;
        outline: none;
    }

    .carousel-control.next {
        right: 10px;
        outline: none;
    }

@media (max-width: 768px) {
    .main-content {
        margin-left: 0;
        padding-top: 96px;
    }

    .sidebar.collapsed ~ .main-content {
        margin-left: 0;
    }

    .lesson-cards {
        padding: 10px 50px;
    }
}
