
.forgot-password-content{
    padding: 80px 200px 80px 400px;
}

    .forgot-password-content h1 {
        color: #274052;
    }
    .forgot-password-content hr{
        width: 700px;
    }
    .forgot-password-content h2 {
        color: #274052;
        font-size: 1.4rem;
        margin-bottom: 15px;
    }

    .forgot-ps{
        font-family: Arapey, serif;
        font-size: 3rem;
        font-weight: 600;
        font-style: italic;
    }

.btn-reset-password {
    background-color: #DFB757;
    color: #274052;
    font-size: 1.1rem;
    font-weight:500;
}

    .btn-reset-password:hover {
        background-color: #F3CF79;
    } 