.login-page {
    margin-top: 1px;
    background-color: #FEF6ED;
}

.login-page .container {
    padding: 100px;
    max-width: 1200px;
}

.login-page .container .login-style {
    border-top-left-radius: 36px;
    border-bottom-left-radius: 36px;
}

    .login-page .container .login-inputs {
        border-top-right-radius: 36px;
        border-bottom-right-radius: 36px;
    }

.login-style {
    background-color: #446277;
}

    .login-style .text-center h1, .login-style .text-center .lead {
        color: white;
    }


.login-inputs .text-center h2 {
    color: #5D4940;
}

.email-input input {
    border-radius: 36px;
    border-width: 1px;
    color: #5D4940;
}

.email-input label {
    color: #5D4940;
}

.password-input input {
    border-radius: 36px;
    color: #5D4940;
}

.password-input label {
    color: #5D4940;
}

.form-control:focus {
    color: #5D4940;
    border-color: #DFB757;
    box-shadow: 0 0 0 0.2rem #DFB757;
    outline: none !important;
}

#togglePassword:hover {
    color: #DFB757;
}

.form-check-input:active {
    background-color: #DFB757;
}
.form-check-input:focus {
    background-color: #DFB757;
}

.btn-login-page {
    border-radius: 36px;
    color: #5D4940;
    font-weight: 600;
    background-color: #DFB757;
}
    .btn-login-page:hover {
        border-radius: 36px;
        color: #5D4940;
        font-weight: 600;
        background-color: #FFDE8D;
    }

.login-inputs .text-center a {
    color: #8F7B72;
    font-weight: 600;
    font-style: italic;
}
    .login-inputs .text-center a:hover {
        color: #DFB757;
    }



    @media (max-width: 768px) {
        .login-page .container .login-inputs {
            border-radius: 36px;
        }
    }