

.progress-content {
    margin-left: 200px;
    transition: margin-left 0.3s ease;
}
.admin-progress-topbar { /* header top area*/
    background: #FEF6ED;
    padding: 1rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dotted #274052;
    color: #274052;
}

    .admin-progress-topbar h2 {
        color: #274052;
    }
.progress-span-dashboard {
    font-family: 'Arapey', serif;
    font-weight: 700;
    font-style: italic;
    font-size: 2.4rem;
    color: #274052;
}


.progress-content-summary {
    padding-right: 80px;
    padding-left: 80px;
    color: #274052;
}
.progress-summary {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding-bottom: 20px;
    background-color: #FEF6ED;
    color: #274052;
    justify-content: flex-start; 
}

.progress-box {
    flex: 0.1 1 calc(25% - 0.2rem);
    min-width: 180px;
    background-color: #FFFAF3;
    border: 2px dotted #274052;
    border-radius: 5px;
    padding: 1.8rem;
    text-align: center;
    color: #274052;
    max-width: 300px;
}

.span-progress-box {
    font-family: 'Arapey', serif;
    font-weight: 700;
    font-style: italic;
    font-size: 2.4rem;
    color: #274052;
}

.progress-box span {
    display: flex;
    align-items: start;
}
.progress-graph-span {
    font-family: 'Arapey', serif;
    font-weight: 700;
    font-style: italic;
    font-size: 2rem;
    color: #274052;
}
#progressChart{
    margin-top:20px;
}
.progress-table {
    width: 100%;
    background: none;
    overflow: auto;
    border-collapse: collapse;
    border-spacing: 0;
}
    .progress-table thead {
        background-color: #FEF6ED; /* Visible header background */
        position: sticky;
        top: 0; /* Sticky header for better UX on scroll */
        z-index: 2;
    }

    .progress-table .table tbody tr td{
        background-color: #FFFAF3;
    }



.progress-graphs {
    background-color: #FFFAF3;
    border: 2px dotted #274052;
    border-radius: 5px;
    padding: 1.8rem;
    text-align: center;
}

@media (max-width: 768px) {

    .progress-content {
        margin: 0;
        padding: 0;
    }

    .progress-content-summary{
        padding: 10px;
    }
}

@media (min-width: 768px) {

    .admin-dashboard-sidebar.closed ~ .progress-content {
        margin-left: 0 !important;
    }
}
