
.admin-lessons {
    margin-left: 200px;
}

.admin-lessons-header { /* header top area*/
    background: #fff;
    padding: 0.75rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dee2e6;
}

.lessons-content {
    margin: 16px;
}
