
.admin-students {
    margin-left: 200px;
    color: #274052;
    min-height: 92vh;
}

.admin-students-topbar { /* header top area*/
    background: #FEF6ED;
    padding: 1rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dotted #274052;
    color: #274052;
}

    .admin-students-topbar h2{
        color: #274052;
    }

.students-span-dashboard {
    font-family: 'Arapey', serif;
    font-weight: 700;
    font-style: italic;
    font-size: 2.4rem;
    color: #274052;
}

/*SEARCH BAR*/

.students-searchbar {
    padding: 40px 115px 10px 115px;
}

.students-search-form {
    border: 1px solid #B5C4CE;
    color: #274052;
    background: #FFFCF7;
}

.students-view-archive {
    display: flex;
    justify-content: end;
    padding: 20px 115px 2px 115px;
}

.btn-students-view-archive {
    background-color: #DFB757;
    color: #274052;
    font-weight: 600;
}

    .btn-students-view-archive:hover {
        background-color: #FFE4A3;
        color: #274052;
    }

.table-students {
    margin: 16px;
    padding: 0 100px 0 100px;
}

.table-students-content {
    border-collapse: separate;
    border-spacing: 0;
    background-color: #FEF6ED;
    color: #274052;
    overflow: hidden;
}
    .table-students-content thead tr:first-child th:first-child {
        border-top-left-radius: 10px;
    }
    .table-students-content thead tr:first-child th:last-child {
        border-top-right-radius: 10px;
    }

    .table-students-content thead tr:first-child th {
        background-color: #F4EADD;
        border: 1px solid #B5C4CE;
        padding: 10px;
    }
    .table-students-content th {
        background-color: #FFFCF7;
        color: #274052;
    }
    .table-students-content td {
        border: 0.8px solid #B5C4CE;
        color: #274052;
        background-color: #FFFCF7;
    }


/*ACTION BUTTON*/
.btn-students-edit {
    background-color: #488EC3;
    color: #FAF3E2;
    font-weight: 700;
    height: 42px;
    width: 40px;
}

    .btn-students-edit span {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FAF3E2;
    }

    .btn-students-edit:hover {
        background-color: #C3DFF4;
        color: #274052;
    }

.btn-students-archive {
    background-color: #808080;
    color: #FAF3E2;
    font-weight: 700;
    height: 42px;
    width: 40px;
}

    .btn-students-archive span {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FAF3E2;
    }

    .btn-students-archive:hover {
        background-color: #DEDEDE;
        color: #274052;
    }

/*PAGINATIONNN*/

.students-pagination {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

    .students-pagination .pagination {
        padding: 10px;
        border-radius: 5px;
    }

        .students-pagination .pagination .page-link {
            color: #446277;
            background-color: transparent;
            border: 2px solid #E0D3C5;
        }

        .students-pagination .pagination .page-item.active .page-link {
            background-color: #DFB757;
            color: #274052;
            border: 2px solid #DFB757;
            font-weight: 700;
        }

        .students-pagination.pagination .page-item .page-link:hover {
            background-color: #E0D3C5;
            color: #274052;
        }

.students-error {
    margin: 16px;
    padding: 0 100px 0 100px;
    color: #274052;
    font-style: italic;
    font-weight:600;
    opacity:60%;
}