
.admin-students {
    margin-left: 200px;
}

.admin-students-header { /* header top area*/
    background: #FEF6ED;
    padding: 0.75rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dee2e6;
}

.students-content {
    margin: 16px;
    padding: 0 100px 0 100px;
}

/*SEARCH BAR*/

.students-searchbar {
    padding: 40px 115px 10px 115px;
}

.table-students {
    margin: 16px;
    padding: 0 100px 0 100px;
}

/*ACTION BUTTON*/
.btn-students-edit {
    background-color: #488EC3;
    color: #FAF3E2;
    font-weight: 700;
    height: 42px;
    width: 40px;
}

    .btn-students-edit span {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn-students-edit:hover {
        background-color: #C3DFF4;
        color: #274052;
    }

.btn-students-archive {
    background-color: #808080;
    color: #FAF3E2;
    font-weight: 700;
    height: 42px;
    width: 40px;
}

    .btn-students-archive span {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn-students-archive:hover {
        background-color: #DEDEDE;
        color: #274052;
    }

/*PAGINATIONNN*/

.students-pagination {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

    .students-pagination .pagination {
        padding: 10px;
        border-radius: 5px;
    }

        .students-pagination .pagination .page-link {
            color: #446277;
            background-color: transparent;
            border: 2px solid #E0D3C5;
        }

        .students-pagination .pagination .page-item.active .page-link {
            background-color: #DFB757;
            color: #274052;
            border: 2px solid #DFB757;
            font-weight: 700;
        }

        .students-pagination.pagination .page-item .page-link:hover {
            background-color: #E0D3C5;
            color: #274052;
        }
