
.admin-languages {
    margin-left: 200px;
    width: calc(100% - 200px);
    min-height: 92vh;
}

.admin-languages-topbar { /* header top area*/
    background: #FEF6ED;
    padding: 1rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dotted #274052;
    color: #274052;
}

.admin-languages-topbar h2 {
    color: #274052;
}

.languages-span-dashboard {
    font-family: 'Arapey', serif;
    font-weight: 700;
    font-style: italic;
    font-size: 2.4rem;
    color: #274052;
}
.languages-content {
    margin: 16px;
    padding: 0 100px 0 100px;
}

/*SEARCH BAR*/

.language-searchbar{
    padding: 40px 115px 10px 115px;
}

.languages-search-form {
    border: 1px solid #B5C4CE;
    color: #274052;
    background: #FFFCF7;
}


.btn-languages-view-archive {
    background-color: #DFB757;
    color: #274052;
    font-weight: 600;
}

    .btn-languages-view-archive:hover {
        background-color: #FFE4A3;
        color: #274052;
    }

/*ADD BUTTON*/
.btn-language-add {
    background-color: #367C1E;
    color: #fefefe;
    font-weight: 600;
    width: 150px;
}

    .btn-language-add:hover {
        background-color: #5A9A3D;
        color: #fefefe;
    }

    /* TABLE */

.table-languages {
    margin: 16px;
    padding: 0 100px 0 100px;
}

.table-languages-content {
    border-collapse: separate;
    border-spacing: 0;
    background-color: #FEF6ED;
    color: #274052;
    overflow: hidden;
}


    .table-languages-content thead tr:first-child th:first-child {
        border-top-left-radius: 10px;
    }

    .table-languages-content thead tr:first-child th:last-child {
        border-top-right-radius: 10px;
    }

    .table-languages-content thead tr:first-child th {
        background-color: #F4EADD;
        border: 1px solid #B5C4CE;
        padding: 10px;
    }

    .table-languages-content th {
        background-color: #FFFCF7;
        color: #274052;
    }

    .table-languages-content td {
        border: 0.8px solid #B5C4CE;
        color: #274052;
        background-color: #FFFCF7;
    }


/*ACTION BUTTON*/
.btn-language-edit {
    background-color: #488EC3;
    color: #FAF3E2;
    font-weight: 700;
    height: 42px;
    width: 40px;
}

    .btn-language-edit span {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FAF3E2;
    }

    .btn-language-edit:hover {
        background-color: #C3DFF4;
        color: #274052;
    }

.btn-language-archive {
    background-color: #808080;
    color: #FAF3E2;
    font-weight: 700;
    height: 42px;
    width: 40px;
}
    .btn-language-archive span {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FAF3E2;
    }

    .btn-language-archive:hover {
        background-color: #DEDEDE;
        color: #274052;
    }

/*PAGINATIONNN*/

.language-pagination {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

    .language-pagination .pagination {
        padding: 10px;
        border-radius: 5px;
    }

        .language-pagination .pagination .page-link {
            color: #446277;
            background-color: transparent;
            border: 2px solid #E0D3C5;
        }

        .language-pagination .pagination .page-item.active .page-link {
            background-color: #DFB757;
            color: #274052;
            border: 2px solid #DFB757;
            font-weight: 700;
        }

        .language-pagination.pagination .page-item .page-link:hover {
            background-color: #E0D3C5; 
            color: #274052;
        }
