.archive-page-students-content {
    margin-left: 200px;
    min-height: 92vh;
}

.archive-students-topbar { /* header top area*/
    background: #FEF6ED;
    padding: 1rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dotted #274052;
    color: #274052;
}

.archive-students-topbar h2 {
    color: #274052;
}

.archive-students-dashboard {
    font-family: 'Arapey', serif;
    font-weight: 700;
    font-style: italic;
    font-size: 2.4rem;
    color: #274052;
}

.exit-admin-archive-students {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    color: #274052;
    text-decoration: none;
    transition: background 0.3s ease;
}
    .exit-admin-archive-students:hover {
        background-color: #DFB757;
    }

/* MAIN CONTENT */

.students-archive-search {
    border: 1px solid #B5C4CE;
    color: #274052;
    background: #FFFCF7;
}

#studentsArchiveTableContainer {
    padding: 10px 115px 10px 115px;
}


.table-students-archive-content {
    border-collapse: separate;
    border-spacing: 0;
    background-color: #FEF6ED;
    color: #274052;
    overflow: hidden;
}

    .table-students-archive-content thead tr:first-child th:first-child {
        border-top-left-radius: 10px;
    }

    .table-students-archive-content thead tr:first-child th:last-child {
        border-top-right-radius: 10px;
    }

    .table-students-archive-content thead tr:first-child th {
        background-color: #F4EADD;
        border: 1px solid #B5C4CE;
        padding: 10px;
    }

    .table-students-archive-content th {
        background-color: #FFFCF7;
        color: #274052;
    }

    .table-students-archive-content td {
        border: 0.8px solid #B5C4CE;
        color: #274052;
        background-color: #FFFCF7;
    }
    /* ACTION BUTTONS */
.btn-archive-students-restore {
    background-color: #DFA257;
    height: 42px;
    width: 42px;
    font-weight: 700;
    margin-right: 10px;
}

    .btn-archive-students-restore:hover {
        background-color: #FFE4A3;
    }

    .btn-archive-students-restore span {
        display: flex;
        align-content: center;
        justify-content: center;
    }

.btn-archive-students-delete {
    background-color: #DF5757;
    height: 42px;
    width: 42px;
    font-weight: 700;
}

.btn-archive-students-delete:hover {
    background-color: #FFA3A3;
}

.btn-archive-students-delete span {
    display: flex;
    align-content: center;
    justify-content: center;
}