@{
    ViewData["Title"] = "Speech Assessment";
}
<!-- Dashboard Content of User -->
<div class="user-dashboard">
    @await Html.PartialAsync("_Sidebar")

    <main class="main-content user-dashboard">
        @await Html.PartialAsync("_NavbarAuthenticated")
    </main>
</div>
