@page
@model eSaysay.Views.User.Admin.AnalyticsModel
@{
}
<main class="admin-analytics">
    @await Html.PartialAsync("_AdminSidebar")

    <div class="admin-analytics-header">
        <h2> Analytics </h2>
    </div>

    <div class="analytics-content">

        <!-- INSERT MAIN CONTENT OF ANALYTICS HEREEEEE -V-  -->
        
    </div>
</main>