@page
@model eSaysay.Views.User.Admin.ProgressModel
@{
}
<main class="admin-progress">
    @await Html.PartialAsync("_AdminSidebar")

    <div class="admin-progress-header">
        <h2> Progress </h2>
    </div>

    <div class="progress-content">

        <!-- INSERT MAIN CONTENT OF PROGRESS HEREEEEE -V-  -->

    </div>
</main>