@page
@model eSaysay.Views.User.Admin.SettingsModel
@{
}
<main class="admin-settings">
    @await Html.PartialAsync("_AdminSidebar")

    <div class="admin-settings-header">
        <h2> Settings </h2>
    </div>

    <div class="settings-content">

        <!-- INSERT MAIN CONTENT OF SETTINGS HEREEEEE -V-  -->

    </div>
</main>